<h1>Hello World!</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>URL</th>
        <th>Description</th>
    </tr>
    <% @products.each do |product| %>
        <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.url %></td>
            <td><%= product.description %></td>
        </tr>
    <% end %>
</table>